# Database
DATABASE_URL=sqlite:///candidate.db

# Redis
REDIS_URL=redis://localhost:6379

# Logging
LOG_LEVEL=DEBUG

# LLM (supports any litellm provider: openai, anthropic, etc.)
ANTHROPIC_API_KEY=your_api_key_here
OPENAI_API_KEY=your_api_key_here
# etc...

# If you want to use local Ollama models
OLLAMA_API_BASE=http://localhost:11434

# LLM model used to do the resume parsing
LLM_RESUME_PARSING_MODEL=anthropic/claude-haiku-4-5-20251001

# LLM model used to do the query optimization
LLM_QUERY_OPTIMIZATION_MODEL=openai/gpt-4o

# LLM model used to do the query parsing
LLM_QUERY_PARSING_MODEL=ollama/llama3